
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Josefin Sans', sans-serif;
}

.heading{
  color:#fa9191;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  margin: 50px 0;
  font-family: 'Josefin Sans', sans-serif;
}

.img_div{
  display: flex;
  justify-content:center;
}

.img_div img{
  width: 200px;
  height: 150px;
  margin: 0px 20px 20px 0px;

}
.greetingBody{
  display:flex;
  justify-content:center;
  width:100%;
  height:30vh;
  background-color:#628abc;
  padding-top:20px;
  font-family: 'Josefin Sans', sans-serif;
}

.greeting{
  
  display:flex;
  justify-content:center;
  align-items:center;
  width:50%;
  margin-top: 20px;
  background-color:#ffe9c5;
  color:#fa9191;
  border-radius:100px;
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color:#fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards{
  width: 100%;
  height: auto;
}

.back{
  width: 100%;
  height: 150vh;
  background-color:#d6d6c2;
}

.carding{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05,1.05);
}

.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info{
  background-color:#fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color:#fff;
}

.card__category{
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color:#fff;
}

.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway",sans-serif;
  background-color:#fff;
  text-transform: capitalize;
}

button{
  padding: 5px 8px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color:#fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
.slotmachine{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color:#fff;
}

.increament{
  width:100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color:#ffe9c5;
}

input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
}

.formsexp {
  width: 100%;
  height: 100vh;
  background: hsl(0, 79%, 75%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading_form{
  color: #fff;
  background: transparent;
  text-shadow: 0 2px 2px black;
  text-transform: capitalize;
}

.btnincr{
  padding: 15px 20px;
  background: #9b59b6;
  color: #fff;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.todoHeading{
  color: #fff;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3); 
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

.todoBtn{
  min-height: 40px;
  width:40px;
  border-radius: 100%;
  border-color: transparent;
  background-color:#8566aa;
  color: #fff;
  font-size: 30px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3); 
}

.material_input{
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
  margin-right: 20px;
}

.material_btn{
  width: 40px;
  height: 55px;
  background-color: #16a085 !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 60% !important;
}

.material_btn:hover {
  color: #16a085 !important;
  background: white !important;
}

.material_head{
  color: rgba(0, 0, 0, 0.87);
  font-size: 40px;
  margin-bottom: 30px;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.todoBtn:hover{
  background-color: #20bf6b;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .deleteIcon {

  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .deleteIcon:hover {

  background-color: transparent;
  color: crimson;
  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#8566aa;
  border-radius: 50%;
  margin: 0 15px  0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); 
}

.todo_style .fa-times:hover {
  background-color: crimson;
}
.todo_style .fa-times:hover .list_style{
  color: crimson;
}

.googleheader{
  width: 100%;
  height: auto;
  display: flex;
  margin: -50px 0 0 0px;
  justify-content: center;
  background-color: rgb(243, 137, 98);

}
.googleheader h1 {
  color: #0d7ff8;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  font-family: 'Josefin Sans', sans-serif;
}

.googlelogo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main_note{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.main_note form input{
  text-align: left;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 500px;
  border-bottom: 2px solid #069ff2;
  outline: none;
}

textarea {
  width: 500px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


.plus_sign{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5b522;
  border-radius: 50%;
  padding: 5px;
  color: rgb(236, 45, 45);
  margin: 0 25px 0 -50px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.google_note_display{
  width: auto;
  height: auto;
  display: flex;
  margin: 0 25px 0 -50px;
  justify-content: center;
}

.google_note{
  width: 50%;
  height: auto;
  display: flex;
  margin: 0 10px 0 10px;
  justify-content: space-evenly;
  background-color: rgb(238, 213, 213);
}

.google_note h1{
  color: #4a5057;
  text-align:center;
  text-transform:capitalize;
  font-weight: 500;
  font-size: 30px;
  text-shadow: 0px 2px 4px #ffe9c5;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 10px 0 10px;
}

.deleteIcon{
  width: 0.7em;
  height: 0.7em;
}

.pokemon{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid chocolate;
}
.select_pokemon h1{
  color: chocolate;
  text-align:center;
  text-transform:capitalize;
  font-weight:bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 15px 0 20px;
}

.pokemon h1{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color:#fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.select_pokemon{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.active_class {
  color: #fff;
  border-bottom: 1px solid red;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color:#20232a;
  width: 100%;
  line-height: 60px;

}

.search_bar{
  width: 50%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.search_bar input{
  margin: 30px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;
  }
}